section{
    margin-top: 20px;
}
div {
    &.container {
        margin-top: 20px;
        margin-bottom: 40px;

        div {
            &.row {
                div {
                    &.col-lg-4 {

                        div {
                            &.info {
                                div {
                                    &.color {
                                        gap: 10px;
                                      
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
        }
    }
}