section{
    margin-top: 20px;
}
div {
    &.container {
        margin-top: 20px;
        margin-bottom: 40px;

        div {
            &.row {
                div {
                    &.col-lg-4 {

                        div {
                            &.info {
                                div {
                                    &.color {
                                        gap: 10px;
                                        div {
                                            &.one {
                                                width: 15px;
                                                height: 15px;
                                                background-color: darkred;
                                            }

                                            &.three {
                                                width: 15px;
                                                height: 15px;
                                                background-color: rgb(85, 9, 60);
                                            }

                                            &.two {
                                                width: 15px;
                                                height: 15px;
                                                background-color: rgb(15, 38, 104);
                                            }

                                            &.four {
                                                width: 15px;
                                                height: 15px;
                                                font-size: 20px;
                                                background-color: aqua;

                                            }

                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}