div{
    &.offcanvas-body{
        margin-left: 10px;
        margin-top: 30px;
        span{
            margin-right: 20px;
            margin-left: 10px;
            font-size: 20px;
        }
        button{ 
             font-weight: bold;
            width:100px;
                height: 50px;
               margin-right: 20px;
              
            &.one{
                border:1px solid black;
                background-color: white;
                
            }
            &.two{
                background-color: black;
                color:white;
            }
        }
        select{
            width:320px;
            height: 50px;
            margin-left: 10px;
            margin-top: 40px;
            padding-left: 20px;
            margin-bottom: 40px;
        }
    }
}



div {
    &.filter-list {
        display: none;
    }

    &.card-body {
        width: 200px;
        min-height: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        margin-top: 1px;
        padding-left: 0px;

    }

    form {

        align-items: center;

        label {
            padding-left: 20px;

        }

        input {
            width: 20px;
            height: 20px;
            margin-left: 0px;
        }

        div {
            margin-bottom: 5px;
        }
    }
}

p {
    &.toggle {
        margin-bottom: 0;
        width: 200px;
        border-bottom: 1px solid rgb(132, 132, 132);
    }

}

button {
    &.ass {
        margin-right: 0;
        padding-left: 100px;
    }
}

a.btn:focus {
    border: none !important;
    outline: none !important;
}

.details {
    text-decoration: underline;
}
// @media(max-width:1024px){
//     .filter-list{
//         display: none;
//     }
// }
@media(max-width:768px){
 
    div{
        &.offcanvas-body{
            margin-left: 10px;
            margin-top: 30px;
            span{
               display: none;
            }
            button{ 
                 font-weight: bold;
                width:100px;
                    height: 50px;
                    margin-bottom: 500px;
                  
                &.one{
                    border:1px solid black;
                    background-color: white;
                    margin-left: 20px;
                    
                }
                &.two{
                    background-color: black;
                    color:white;
                    margin-left: 180px;
                }
            }
            select{
                width:250px;
                height: 50px;
                margin-left: 10px;
                margin-top: 70px;
                padding-left: 60px;
                margin-bottom: 40px;
            }
        }
    }
    section.social{
margin-left:100px !important;
    }
}
@media(min-width:769px) and (max-width:1024){
    section.social{
        margin-left:50%;
            }
}

